<!-- IF S_CHAT_ENABLED -->
	<!-- IF S_AJAXCHAT_VIEW -->
		<!-- IF S_GET_CHAT -->
			<!-- IF S_READ or S_ADD -->
				<!-- BEGIN chatrow -->
					<div id="p{chatrow.MESSAGE_ID}" class="post bg{chatrow.CLASS}">
						<div class="chat-postbody">
							<div class="chat-postprofile" id="profile{chatrow.MESSAGE_ID}">
								<dl>
									<dt>
										<span class="chat-names">
											<!-- IF not S_IS_BOT and S_USER_LOGGED_IN and SCRIPT_NAME neq 'app/chat/archive' -->
												<!-- IF chatrow.USER_COLOR -->
													<a href="#" style="color: #{chatrow.USER_COLOR}" onclick="insert_text('[color=#{chatrow.USER_COLOR}][b]&#64;{chatrow.USERNAME_A}&nbsp;:&nbsp;[/color][/b]', true);return false;" title="{L_RESPOND}">&#64;</a>
												<!-- ELSE -->
													<a href="#" onclick="insert_text('[b]&#64;{chatrow.USERNAME_A}&nbsp;:&nbsp;[/b]', true);return false;" title="{L_RESPOND}">&#64;</a>
												<!-- ENDIF -->
											<!-- ELSE -->
												&#64;
											<!-- ENDIF -->
											{chatrow.USERNAME_FULL} <span class="chat-time small">{chatrow.TIME}</span> <span> : </span>
										</span>
										<span class="message">
											{chatrow.MESSAGE}
										</span>
									</dt>
									<dd>
									</dd>
								</dl>
							</div>
							{SMILIES_PATH}
						</div>
					</div>
				<!-- END chatrow -->
				--!--{LAST_ID}--!--
					<!-- IF S_WHOISONLINE -->
							<!-- BEGIN whoisrow -->
								<div class="whois_status<!-- IF not S_AJAX_CHAT_ONLINELIST or SCRIPT_NAME == 'app/chat/archive' or not S_WHOIS_CHATTING --> whois_online_off<!-- ENDIF -->">
									<img src="{BOARD_URL}ext/spaceace/ajaxchat/styles/all/theme/images/{whoisrow.USER_STATUS}.png" class="status_img" alt="{whoisrow.USER_STATUS}" />&nbsp;{whoisrow.USERNAME_FULL}&nbsp;
								</div>
							<!-- END whoisrow -->
					<!-- ENDIF -->
				--!--{LAST_TIME}--!--{REFRESH_TIME}--!--{LAST_POST}
			<!-- ENDIF -->
		<!-- ELSE -->
			<!-- IF SCRIPT_NAME == 'app/chat' -->
				<!-- INCLUDE overall_header.html -->
			<!-- ENDIF -->
			<!-- IF SCRIPT_NAME == 'app/chat/popup' or SCRIPT_NAME == 'app/chat/archive' -->
				<!-- EVENT overall_header_head_append -->
				<!-- INCLUDE simple_header.html -->
				<div>
			<!-- ENDIF -->
			<script type="text/javascript">
			// <![CDATA[
				var last_time = {TIME};
				var last_id = {LAST_ID};
				var post_time = {LAST_POST};
				var read_interval = ({REFRESH_TIME} * 1000);
				var chat_empty = '{LA_EMPTY}';
				var ie_no_ajax = '{LA_IE_NO_AJAX}';
				var cookie_name = '{COOKIE_NAME}';
				var upgrade_browser = '{LA_UPGRADE_BROWSER}';
				var query_url	= '{FILENAME}';
				<!-- IF S_POPUP -->
					var query_url = '{FILENAME}/popup';
				<!-- ELSEIF S_ARCHIVE -->
					var query_url = '{FILENAME}/archive';
				<!-- ENDIF -->
				<!-- IF S_AJAXCHAT_BBCODE -->
					var chatbbcodetrue = true;
				<!-- ELSE -->
					var chatbbcodetrue = false;
				<!-- ENDIF -->
				//]]>
			</script>
			<!-- INCLUDEJS @spaceace_ajaxchat/js/ajax_chat.js -->
				<!-- IF CHAT_RULES and SCRIPT_NAME neq 'app/chat/archive' -->
					<div class="chat_rules">
						<span class="span_chat_rule">{L_CHAT_RULE}</span><br /><span>{CHAT_RULES}</span>
					</div>
				<!-- ENDIF -->
			<div class="<!-- IF S_WHOIS_CHATTING --><!-- IF S_AJAX_CHAT_ONLINELIST and SCRIPT_NAME neq 'app/chat/archive' --> shouts<!-- ENDIF --><!-- ENDIF --><!-- IF not S_AJAX_CHAT_ONLINELIST or SCRIPT_NAME == 'app/chat/archive' or not S_WHOIS_CHATTING --> chat_online_off<!-- ENDIF --><!-- IF S_CHAT or S_POPUP or SCRIPT_NAME == 'app/chat/archive' --> main<!-- ENDIF -->">
				<div id="chat">
					<!-- BEGIN chatrow -->
						<div id="p{chatrow.MESSAGE_ID}" class="post bg{chatrow.CLASS}">
							<div class="chat-postbody">
								<div class="chat-postprofile" id="profile{chatrow.MESSAGE_ID}">
									<dl>
										<dt>
											<span class="chat-names">
											<!-- IF not S_IS_BOT and S_USER_LOGGED_IN and SCRIPT_NAME neq 'app/chat/archive' -->
												<!-- IF chatrow.USER_COLOR -->
													<a href="#" style="color: #{chatrow.USER_COLOR}" onclick="insert_text('[color=#{chatrow.USER_COLOR}][b]&#64;{chatrow.USERNAME_A}&nbsp;:&nbsp;[/color][/b]', true);return false;" title="{L_RESPOND}">&#64;</a>
												<!-- ELSE -->
													<a href="#" onclick="insert_text('[b]&#64;{chatrow.USERNAME_A}&nbsp;:&nbsp;[/b]', true);return false;" title="{L_RESPOND}">&#64;</a>
												<!-- ENDIF -->
											<!-- ELSE -->
												&#64;
											<!-- ENDIF -->
											{chatrow.USERNAME_FULL} <span class="chat-time small">{chatrow.TIME}</span> <span> : </span>
											</span>
											<span class="message">
												{chatrow.MESSAGE}
											</span>
										</dt>
										<dd>
										</dd>
									</dl>
								</div>
							</div>
						</div>
					<!-- END chatrow -->
				</div>
			</div>
			<div class="forabg">
				<div class="inner">
					<!-- IF SCRIPT_NAME neq 'app/chat/archive' -->
						<div class="chat topiclist forums">
							<div class="row">
								<dl class="icon">
									<dt class="chatform">
										<!-- IF not S_IS_BOT -->
											<!-- IF S_AJAXCHAT_POST -->
												<form name="postform" id="chat-text" method="post" action="javascript:void(0);" onsubmit="handle_send('add', this)">
													<fieldset>
														<div class="form-group">
															<div class="col-xs-9">
																<input type="text" tabindex="1" name="message" id="message" class="form-control chatinput" autocomplete="off">
															</div>
															<div class="col-xs-3">
																<div class="pull-right">
																	<input type="submit" class="btn btn-default" value="{L_SUBMIT}" title="{L_CHAT_SUBMIT_MESSAGE}" name="submit" tabindex="6" accesskey="s" />
																	<input type="button" class="btn btn-default hidden-xs" onclick="popup('{FILENAME}/archive', 1000, 625); return false;" value="{L_CHAT_ARCHIVE}" title="{L_CHAT_ARCHIVE_EXPLAIN}" />
																</div>
															</div>
														</div>
													</fieldset>
												<!-- INCLUDE chat_buttons.html -->
												</form>
											<!-- ELSE -->
												{L_NO_POST_IN_CHAT}
											<!-- ENDIF -->
										<!-- ELSE -->
											<div class="input_message">{L_GUEST_MESSAGE}</div>
										<!-- ENDIF -->
									</dt>
									<dd>
									</dd>
								</dl>
							</div>
						</div>
					<!-- ENDIF -->
				</div>
			</div>			
				<!-- IF S_WHOISONLINE -->
					<div class="whois<!-- IF S_CHAT or S_POPUP --> main<!-- ENDIF --><!-- IF not S_AJAX_CHAT_ONLINELIST or SCRIPT_NAME == 'app/chat/archive' or not S_WHOIS_CHATTING --> whois_online_off<!-- ENDIF -->">
						<h3>
							{L_WHOIS_CHATTING}
						</h3>
						<div id="whois_online">
							<!-- BEGIN whoisrow -->
								<div class="whois_status<!-- IF not S_AJAX_CHAT_ONLINELIST or SCRIPT_NAME == 'app/chat/archive' or not S_WHOIS_CHATTING --> whois_online_off<!-- ENDIF -->">
									<img src="{BOARD_URL}ext/spaceace/ajaxchat/styles/all/theme/images/{whoisrow.USER_STATUS}.png" class="status_img" alt="{whoisrow.USER_STATUS}" />&nbsp;{whoisrow.USERNAME_FULL}&nbsp;
								</div>
							<!-- END whoisrow -->
						</div>
					</div>
				<!-- ENDIF -->
			<!-- IF SCRIPT_NAME == 'app/chat' -->
				<!-- INCLUDE overall_footer.html -->
			<!-- ENDIF -->
			<!-- IF SCRIPT_NAME == 'app/chat/popup' or SCRIPT_NAME == 'app/chat/archive' -->
				</div>
				<!-- INCLUDE simple_footer.html -->
			<!-- ENDIF -->
		<!-- ENDIF -->
	<!-- ENDIF -->
<!-- ENDIF -->