<article>
	<div class="panel">
		<div class="panel-heading">
			<div class="btn-group btn-group-justified" role="group" aria-label="Justified button group with nested dropdown">
				<a href="http://www.swor-jdr.com/app.php/page/charte" class="btn btn-default" role="button">Charte du Forum</a>
				<a href="http://www.swor-jdr.com/app.php/page/manuel" class="btn btn-default" role="button">Manuel de Jeu</a>
				<div class="btn-group" role="group">
					<a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">Annexes <span class="caret"></span></a>
					<ul class="dropdown-menu"> 
						<li><a href="#">Système Economique</a></li>
						<li><a href="#">Les Utilisateurs de la Force</a></li>
						<li><a href="#">La Trame de Jeu</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<h3>Charte du Forum</h3>
			<p class="text-center bg-info">Merci de bien vouloir lire la charte dans son entièreté. Ne pas faire attention à cette charte vous expose à des sanctions.</p>
			<h2>Généralité</h2>
			<dl class="dl-horizontal">
				<dt>Le respect</dt><dd> Il vous sera demandé de respecter les membres du forum quels que soient leurs rangs. Le respect est une règle de <em>bon sens</em> et nous vous faisons confiance pour qu'il aille dans les deux sens.</dd><br/>
				<dt>Les propos</dt><dd> Tout contenu raciste, sexuel, choquant ou à teneur politique est interdit sur ce forum. Dans le cadre du jeu, certains récits osés sont autorisés dès l'instant où ils demeurrent subtils et accessibles au grand public.</dd><br/>
				<dt>Le désaccord</dt><dd> En cas de litige, restez le plus courtois possible avec votre interlocuteur et ayez recours à un tiers pour régler le conflit. Les membres du Staff sont présents pour vous aiguiller et résoudre les éventuels disputes sur le forum, faites appel à eux en cas de besoin.</dd><br/>
				<dt>Les tensions</dt><dd> Toute insulte, menace, ou harcèlement à l'égard d'un membre est interdit. </dd>
			</dl>
			<h2>Le contenu de vos messages</h2>
			<dl class="dl-horizontal">
				<dt>Le langage</dt><dd> Le sms est interdit sur ce forum. Dans la même optique, pensez qu'une phrase commence par une majuscule et se ponctue. Si vous avez toutefois des problèmes en orthographe, nous essaierons d'être indulgents. Pensez tout de même à passez par un logiciel de traitement de texte.</dd><br/>
				<dt>La participation</dt><dd> Nous vous demanderons un minimum de participation sur notre forum, car nous <em>délestons</em> les utilisateurs inactifs tous les 6 mois. </dd><br/>
				<dt>La publicité</dt><dd> Notre forum n'est pas un annuaire de référencement. Les publicités envoyées par MP ou postées sans que vous ne vous soyez présentés ne sont pas autorisées. Vous avez toutefois la possibilité de partager des liens dès lors que vous participez un minimum. </dd><br/>
				<dt>Le doublon</dt><dd> Sauf exception, il vous sera demandé d'éviter de poster des messages les uns après les autres. Préférez plutôt la fonction Éditer.</dd>
			</dl>
			<h2>Partenariats</h2>
			<cite class="text-muted">L'administration seule se réserve le droit de décider de garder un site dans ses partenaires. Le staff peut à tout moment - s'il juge que le site proposé n'est pas en relation avec le thème de notre forum - supprimer n'importe quel lien dudit site web.</cite><br/><br/>
			<dl class="dl-horizontal">
				<dt>Officialiser</dt><dd> Tous les partenaires officiels sont référencés sur <a href="http://www.swor-jdr.com/app.php/page/partenaires">la page partenaires</a>. Afin d'ouvrir un partenariat avec notre forum, nous vous prions de contacter l'un des Fondateur ou d'envoyer un mail à l'adresse <a href="mailto:forumswor@gmail.com">forumswor@gmail.com</a>.</dd><br/>
				<dt>Partager</dt><dd> Sur notre forum, tant que vous participez au jeu, nous vous autorisons à discuter librement d'autres forums, sites ou jeux sans condition particulière, bien que nous aimerions que vous parliez de nous tout autant ;)</dd><br/>
			</dl>
			<h2>Sanctions</h2>
			<dl class="dl-horizontal">
				<dt>Avertissement</dt><dd> En cas d'infraction à cette charte, l'utilisateur concerné écopera d'un avertissement.</dd><br/>
				<dt>Bannissement</dt><dd> Au bout du deuxième avertissement, nous bannissons. Le bannissement peut également intervenir en cas de lourde infraction. Sa durée peut aller de 7 jours à un bannissement définitif.</dd><br/>
			</dl>
			<h2>Suppression de Compte</h2>
			<p>Pour supprimer votre compte, veillez contacter un administrateur de ce forum qui répondra à votre demande. Pour des raisons de respect de la vie privée, vous n'êtes pas obligés d'indiquer de motif. Toutefois, il nous est toujours utile de connaître la raison d'un départ.</p>
		</div>
		<div class="panel-footer">
			<p>Les Administrateurs et Modérateurs se réservent le droit de déplacer, éditer ou supprimer tout message non conforme aux différents points énoncés précédemment. Rendez vous régulièrement sur ce topic, d'autres règles pourrait s'ajouter par la suite. Merci d'avoir lu ce sujet jusqu'au bout, nous vous souhaitons un agréable jeu ;)</p>
			<p class="text-center">
				<a class="btn btn-default" href="http://www.swor-jdr.com/app.php/page/regles" role="button">Retour</a>
			</p>
		</div>
	</div>
</article>