<article>
	<div class="panel">
		<div class="panel-heading">
			<div class="btn-group btn-group-justified" role="group" aria-label="Justified button group with nested dropdown">
				<a href="http://www.swor-jdr.com/app.php/page/charte" class="btn btn-default" role="button">Charte du Forum</a>
				<a href="http://www.swor-jdr.com/app.php/page/manuel" class="btn btn-primary" role="button">Manuel de Jeu</a>
				<div class="btn-group" role="group">
					<a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">Annexes <span class="caret"></span></a>
					<ul class="dropdown-menu"> 
						<li><a href="http://www.swor-jdr.com/app.php/page/economie">Système Economique</a></li>
						<li><a href="http://www.swor-jdr.com/app.php/page/force">Les Utilisateurs de la Force</a></li>
						<li><a href="http://www.swor-jdr.com/app.php/page/trame">La Trame de Jeu</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<h3>Manuel de jeu</h3>
			<div class="text-center bg-custom"><p><i style="font-size:44px"class="fa fa-book"></i></p><p>Créé en 2005, Star Wars Old Revolution est un jeu de rôle se déroulant dans l'univers de Star Wars. Toutefois, la simple connaissance des films suffit à s'imprégner du contexte. Notez que la Campagne Principale écrite par les joueurs a débuté durant la Guerre des Clones, et se situe à présent dans la période de la Nouvelle République. Les évenements qui se sont déroulés entretemps peuvent donc différer de l'univers officiel.</p></div>
			<h2>Incarner un personnage</h2>
			<dl class="dl-horizontal">
				<dt>Avatar</dt><dd>Vous êtes libres d'utiliser l'avatar qui convient le mieux pour votre personnage. Pensez simplement à ne pas prendre un avatar déjà utilisé par un autre membre. Tout avatar choquant sera supprimé sans préavis.</dd><br/>
				<dt>Pseudo</dt><dd>Votre pseudo est celui de votre personnage. Si vous n'avez pas d'idée pour un nom, vous pouvez tout à fait inventer un personnage fictif tiré de votre imagination. Nous n'acceptons cependant aucun pseudo inspiré d'autres œuvres ou IRL (Exemple : Harry Potter, Gandalf, Isaac Asimov, etc). Les chiffres sont interdits dans les pseudos à moins que vous ne jouiez un droïde.</dd><br/>
				<dt>Ecriture</dt><dd>Vous pouvez utiliser n'importe quelle police et n'importe quelle couleur. Les notes HRP peuvent être visibles, mais séparez les bien de votre contenu RP <strong class="text-danger">(tout HRP dans le RP est prohibé)</strong>. Il est conseillé de bien mettre en page vos messages en section RPG pour différencier vos actions de vos dialogues.</dd><br/>
				<dt>Compte</dt><dd>Avant de commencer à jouer, vous devez vous présenter. Un compte correspond à un Personnage Joueur (PJ) ne possédant pas plus de 5 Personnage Non Joueur (PNJ qui accompagne le héros principal).<br/><br/>
				<cite>Sur Swor, nous autorisons exceptionnellement certains bons joueurs à incarner un second personnage et donc se créer un deuxième compte à la conditions de ne pas créer de conflits d'intérêts entre le <em>Personnage Principal</em> et le <em>Personnage Secondaire</em>.</cite></dd><br>
				<dt>La mort</dt><dd>La mort d'un personnage ne peut se décider sans l'aval de son joueur. Toutefois, vos PNJ ne sont pas soumis à cette règle et peuvent périr à tout moment du jeu.</dd><br/>
			</dl>
			<h2>Le jeu par forum</h2>
			<cite class="text-muted">RP = Rôle Play = Jeu de Rôle. Le RP fait vivre votre personnage. Gardez à l'esprit que vous n'êtes pas Superman ! Évitez toute action suicidaire qui pourrait entraîner la mort de votre personnage sans votre accord (cela peut arriver dans de très rares cas).</cite><br/><br/>
			<dl class="dl-horizontal">
				<dt>Jeu de Rôle</dt><dd>Ayez un RP correct et restez dans l’univers Star Wars. Si vous ne connaissez pas l'univers étendu, il est conseillé d'aller sur les enclyclopédies officielles pour vous renseigner un peu sur l'histoire. Si jamais vous faites une erreur, un MJ se charegra de vous le signaler.</dd><br/>
				<dt>Possessions</dt><dd>Chaque personnage commence avec 2.000 Crédits, une arme et un vaisseau. Les possessions ne sont que des outils supplémentaires pour améliorer et approfondir le RP de votre Personnage. Toute triche sera sanctionnée et la récidive est passible de bannissement.</dd><br/>
				<dt>Contenu</dt><dd>Vous n'êtes pas limités sur nombre de ligne, mais évitez de faire des message trop courts. Si vous n'avez qu'une réponse courte à apporter, introduisez des descriptions de l’environnement, des images ou mettez en page les quelques lignes. Plus vous serez précis et détaillé dans votre action et plus vous aurez de chance de la réussir. Swor est, et sera toujours, un jeu dans lequel la qualité de RP prônera sur la quantité.</dd><br>
			</dl>
			<h2>Modération</h2>
			<dl class="dl-horizontal">
				<dt>Maîtres du Jeu</dt><dd>Règle n°1 : Le MJ a toujours raison. Règle n°2 : Si le MJ a tord, se référer à la règle n°1. Les Maîtres du Jeu sont les garants de la cohérence du jeu. Ils mènent des scénarios et répondent à vos questions.</dd><br/>
				<dt>Demander un MJ</dt><dd>Lorsque vous postez un message en RP, vous pouvez cliquer sur l'engrenage en haut à droite de votre message à modérer. Le lien vous mènera vers une page où vous pourrez détailler votre demande. Vous pouvez demander un MJ pour faire réagir l'univers que vous ne sauriez interpréter, ou même valider la progression de votre personnage.</dd><br/>
				<dt>La liberté</dt><dd>Lorsque vous jouez, vous pouvez <em>littéralement</em> tout faire. Notre jeu par forum est très permissif et laisse la porte ouverte à la libre incarnation des personnages dans la limite de votre PJ et de vos PNJ. Vous avez donc le droit de faire apparaître des personnages temporaires, créer des environnements, des ennemis éventuels, etc.</dd><br/>
				<dt>Le métagaming</dt><dd>Il est important de distinguer votre personnage de vous-même, ce qui peut vous paraître logique. Ce que vous savez HRP n'est pas forcément ce que votre personnage sait IRP. Ainsi, si vous lisez des informations dans le jeu en tant que lecteur, n'en faites pas usage tant que votre personnage n'en est pas informé.</dd>
			</dl>
		</div>
		<div class="panel-footer">
			<p>Si vous désirez des informations supplémentaires, demandez les aux Staff de ce forum ou allez dans le <a href="http://www.swor-jdr.com/viewforum.php?f=37">forum des Questions</a>. Merci d'avoir lu les règles !</p>
			<p class="text-center">
				<a class="btn btn-default" href="http://www.swor-jdr.com/app.php/page/regles" role="button">Retour</a>
			</p>
		</div>
	</div>
</article>