<article>
	<div class="panel">
		<div class="panel-body">
			<div class="col-xs-12 col-sm-6 col-lg-4">
				<img src="http://img11.hostingpics.net/pics/932259468602.png" width="100%">
				<h3>Star Wars Equilibrium</h3>
				<p>
					Alors que la galaxie est divisée entre trois forces sur le point d'entrer en guerre, peu s'en faudrait pour briser l'équilibre. Serez-vous celui ou celle qui fera pencher la balance ?
				</p>
				<a href="http://starwars-equilibrium.forumactif.org/">
					Aller au site <i class="fa fa-angle-double-right"></i>
				</a>
			</div>
			<div class="col-xs-12 col-sm-6 col-lg-4">
				<img src="http://img110.xooimage.com/files/5/0/9/sans-titre-4.1-noir-4bb467c.png" width="100%">
				<h3>Star Wars RPG</h3>
				<p>
					Forum RPG Star Wars crée en septembre 2006. Nous avons forgé notre propre univers, façonné par les choix de nos joueurs depuis plus de huit ans.
				</p>
				<a href="http://star-wars-rpg.soforums.com/index.php">
					Aller au site <i class="fa fa-angle-double-right"></i>
				</a>
			</div>
			<div class="col-xs-12 col-sm-6 col-lg-4">
				<img src="http://talesofgalaxy.fr/styles/we_universal/theme/images/banniere_modele1.jpg" width="100%">
				<h3>Star Wars Takes of Galaxy</h3>
				<p>
					JdR dont l'action se situe 217 ans après les films StarWars. Créez un personnage selon vos désirs: militaires, politiciens, mercenaires, malfrats, civils, la seule limite est votre imagination !
				</p>
				<a href="http://www.talesofgalaxy.fr/">
					Aller au site <i class="fa fa-angle-double-right"></i>
				</a>
			</div>
			<div class="col-xs-12">
				<br/>
				<p>
					<a class="btn btn-info" href="http://www.swor-jdr.com/viewforum.php?f=337" role="button">Devenir partenaire ?</a>
				</p></div>
			</div>
		</div>
	</article>