<article>
	<div class="panel">
		<div class="panel-body">
			<h3>Partenaires de Star Wars Online Roleplay</h3>
			<dt>Star Wars Equilibrium</dt><dd>Alors que la galaxie est divisée entre trois forces sur le point d'entrer en guerre, peu s'en faudrait pour briser l'équilibre. Serez-vous celui ou celle qui fera pencher la balance ?<br/><a href="http://starwars-equilibrium.forumactif.org/"><img src="http://img11.hostingpics.net/pics/932259468602.png"/></a><br/><a href="http://starwars-equilibrium.forumactif.org/">http://starwars-equilibrium.forumactif.org/</a></dd><br/>

			<dt>Star Wars RPG</dt><dd>Forum RPG Star Wars crée en septembre 2006. Nous avons forgé notre propre univers, façonné par les choix de nos joueurs depuis plus de huit ans.<br/><a href="http://star-wars-rpg.soforums.com/index.php"><img src="http://img110.xooimage.com/files/5/0/9/sans-titre-4.1-noir-4bb467c.png"/></a><br/>
<a href="http://star-wars-rpg.soforums.com/index.php">http://star-wars-rpg.soforums.com/index.php</a></dd><br/>
			<a class="btn btn-info" href="mailto:forumswor@gmail.com" role="button">Devenir partenaires ?</a>
		</p>
	</div>
</div>
</article>