<article>
	<div class="panel">
		<div class="panel-heading">
			<div class="btn-group btn-group-justified" role="group" aria-label="Justified button group with nested dropdown">
				<a href="http://www.swor-jdr.com/app.php/page/charte" class="btn btn-default" role="button">Charte du Forum</a>
				<a href="http://www.swor-jdr.com/app.php/page/manuel" class="btn btn-default" role="button">Manuel de Jeu</a>
				<div class="btn-group" role="group">
					<a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">Annexes <span class="caret"></span></a>
					<ul class="dropdown-menu"> 
						<li><a href="http://www.swor-jdr.com/app.php/page/economie">Système Economique</a></li>
						<li><a href="http://www.swor-jdr.com/app.php/page/force">Les Utilisateurs de la Force</a></li>
						<li><a href="http://www.swor-jdr.com/app.php/page/trame">La Trame de Jeu</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<h3>Règles</h3>
			<div class="text-center bg-custom"><p>Bienvenue sur <em>Star Wars Online Roleplay</em></p>
				<p>Le premier forum de jeu de rôle en ligne basé sur l'univers de Star Wars. Le jeu se déroule de manière exclusivement narrative et a été créé par des fans, pour des fans. Afin que votre séjour sur notre site se déroule dans le meilleur des conforts, nous vous demanderons de lire et respecter l'ensemble des règles de cette section.</p></div><br/>
				<h3>Charte du Forum <a class="btn-xs btn-default glyphicon glyphicon-chevron-right" href="http://www.swor-jdr.com/app.php/page/charte" role="button" ></a></h3>
				<p>Ceci est la charte officielle de notre forum. Si vous intégrez la communauté de SWOR, vous vous engagez à respecter l'ensemble de ces points dans leur entièreté. Le forum est très ouvert et se veut avant tout porté sur la convivialité et le jeu, mais cela nécessite quelques règles rudimentaires.</p> 
				<h3>Manuel du Jeu <a class="btn-xs btn-default glyphicon glyphicon-chevron-right" href="http://www.swor-jdr.com/app.php/page/manuel" role="button" ></a></h3>
				<p>Les règles du jeu de ce manuel vous permettront de connaître tout ce qu'il y a à savoir sur notre jeu et ses particularités. Gardez en tête que nous pouvons y apporter des changements. La lecture de ce manuel doit donc être régulière.</p>
				<h3>Didactitiel</h3>
				<p>Que vous soyez déjà érudit du RP ou totalement nouveau, voici un petit didacticiel vous proposant une petite immersion dans le jeu et vous permettant de savoir comment bien débuter sur le forum. Ici, on joue sur la narration et le récit, c'est à dire que c'est vous qui décidez ce qui arrive à votre personnage en racontant son histoire.</p>
				<p>Ensemble, nous allons procéder à la création d'un personnage fictif et aborder différentes choses afin que vous puissiez vous familiariser avec notre système de jeu original. Je vous propose de commencer par le commencement...</p>
				<h4>Lexique</h4>
				<dl class="dl-horizontal">
					<dt>RP</dt>
					<dd>Role Play, c'est tout ce qui concernera le jeu en lui même.</dd>
					<dt>HRP</dt>
					<dd>Hors Role Play,Tout ce qui aura trait aux discussions hors du jeu.</dd>
					<dt>BG</dt>
					<dd>BackGround, c'est l'histoire de fond d'un personnage ou d'une faction.</dd>
					<dt>JDR</dt>
					<dd>Equivalent francophone de RPG, Jeu de Rôle ou Role Play Game.</dd>
					<dt>IG</dt>
					<dd>In Game, relatif aux événements qui se déroulent dans le jeu.</dd>
					<dt>IRL</dt>
					<dd>In Real Life, relatif aux événements qui se déroulent dans la vie réelle.</dd>
					<dt>PJ</dt>
					<dd>C'est le raccourci de Personnage du Joueur, ou personage principal.</dd>
					<dt>PNJ</dt>
					<dd>Ce sont tous les personnages non incarnés par le joueur.</dd>
					<dt>MJ</dt>
					<dd>Maître du Jeu, ce sont eux qui vous guident et créent les interactions.</dd>
					<dt>Cr</dt>
					<dd>Crédits, la monnaie fictive utilisée dans notre jeu.</dd>
					<dt>Event</dt>
					<dd>C'est le terme désigné pour un Scénario particulier organisé par un MJ.</dd>
				</dl>
			</div>
			<div class="panel-footer">
				<p class="text-center">
					<a class="btn btn-info" href="#" role="button" >Cliquez ici pour accéder au tutoriel</a>
				</p>
			</div>
		</div>
	</article>