<article>
	<div class="panel">
		<div class="panel-heading">
			<div class="btn-group btn-group-justified" role="group" aria-label="Justified button group with nested dropdown">
				<a href="http://www.swor-jdr.com/app.php/page/charte" class="btn btn-default" role="button">Charte du Forum</a>
				<a href="http://www.swor-jdr.com/app.php/page/manuel" class="btn btn-default" role="button">Manuel de Jeu</a>
				<div class="btn-group" role="group">
					<a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">Système Economique <span class="caret"></span></a>
					<ul class="dropdown-menu"> 
						<li><a href="http://www.swor-jdr.com/app.php/page/force">Les Utilisateurs de la Force</a></li>
						<li><a href="http://www.swor-jdr.com/app.php/page/trame">La Trame de Jeu</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<h3>Système Economique</h3>
			<h2>Fondamentaux</h2>
			<dl class="dl-horizontal">
				<dt>Economie</dt><dd>Le système économique est présent pour vous aider à approfondir le jeu de votre personnage. Vous pouvez ainsi représenter les revenus d'une planète que vous gérer, d'une entreprise que vous dirigez, ou d'une faction entière sous votre contrôle.</dd><br/>
				<dt>Fiche Economique</dt><dd>La fiche économique est à peu près la même chose que la feuille de personnage. Elle permet de référencer les entrées et sorties d'argent, les revenus ou même les dettes de votre économie. Vous pouvez les poster dans le forum <a href="http://www.swor-jdr.com/viewforum.php?f=187">Inventaire</a>. Où vous y trouverez un sujet d'aide à la création d'une fiche économique.</dd><br/>
				<dt>Discussions</dt><dd>Il est possible de discuter de votre projet économique avec les membres du Staff dans la partie réservée la <a href="http://www.swor-jdr.com/viewforum.php?f=280">gestion de l'économie</a>.</dd><br/>
				<dt>Mise à jour</dt><dd>Toutes les fins de mois, vous pouvez mettre à jour votre fiche économique en y ajoutant les nouveaux fonds pour le mois prochain. Ainsi, vous pouvez planifier vos nouvelles actions en vous basant sur le nouveau budget de votre entité économique.</dd><br/>
			</dl>
		<div class="panel-footer">
			<p class="text-center">
				<a class="btn btn-default" href="http://www.swor-jdr.com/app.php/page/regles" role="button">Retour</a>
			</p>
		</div>
	</div>
</article>