<div class="row">
	<div class="col-md-6">
	<div class="form-group"> 
	<div class="control-group">
	   <label class="control-label" for="lang">{L_LANGUAGE}{L_COLON}</label>
       <div>
	    <select class="selectpicker" data-container="body" name="lang" id="lang" onchange="change_language(this.value); return false;" tabindex="6" title="{L_LANGUAGE}">{S_LANG_OPTIONS}</select>
	</div> 
	</div>
	</div>
  </div>

   <div class="col-md-6">
    <!-- /* from timezone_option.html */ -->	
	<div class="control-group"> 
		<label class="control-label" for="timezone">{L_BOARD_TIMEZONE}{L_COLON}</label>
		<div class="controls controls-row"> 
		<select class="tz_select selectpicker" data-container="body" data-width="auto" name="tz" id="timezone">
			<option value="">{L_SELECT_TIMEZONE}</option>
		<!-- BEGIN timezone_select -->
			<optgroup label="{timezone_select.LABEL}" data-tz-value="{timezone_select.VALUE}">
				<!-- BEGIN timezone_options -->
				<option title="{timezone_select.timezone_options.TITLE}" value="{timezone_select.timezone_options.VALUE}"<!-- IF timezone_select.timezone_options.SELECTED --> selected="selected"<!-- ENDIF -->>{timezone_select.timezone_options.LABEL}</option>
				<!-- END timezone_options -->
			</optgroup>
		<!-- END timezone_select -->
		</select>
		</div>
	</div>
	<!-- /* from timezone_option.html */ -->
   </div>
  
</div>