<article>
<div class="panel">
<div class="panel-heading">
<div class="btn-group btn-group-justified" role="group" aria-label="Justified button group with nested dropdown">
<a href="#" class="btn btn-default" role="button">Charte</a>
<a href="#" class="btn btn-default" role="button">Manuel</a>
<div class="btn-group open" role="group">
<a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Annexe <span class="caret"></span></a>
<ul class="dropdown-menu"> 
<li><a href="#">Economie</a></li>
<li><a href="#">Force</a></li>
<li><a href="#">Trame</a></li>
</ul>
</div>
</div>
</div>
<div class="panel-body">
<h3>Règles générales du forum Star Wars Online Roleplay</h3>
<p class="text-center">Bienvenue sur le premier forum de Jeu de Rôle en ligne de Star Wars, 
Exclusivement Narratif. <br/>
Ce forum a été créé par des fans, pour des fans !<br/>
Afin que votre séjour sur notre site se déroule dans le meilleur des conforts, nous vous demanderons de lire et respecter l'ensemble des règles suivantes.
</p>
</div>
</div>
</article>