<!-- INCLUDE overall_header.html -->
<!-- INCLUDE forumlist_body.html -->
<!-- EVENT index_body_forumlist_body_after -->

<!-- EVENT index_body_stat_blocks_before -->
<!-- IF S_USER_LOGGED_IN -->
<div class="panel panel-forum panel-stats">
 <div class="panel-heading">{L_SITESPLAT_STATISTICS}</div>
 <div class="panel-body">
    <div class="row">
	  <div class="col-md-2 col-sm-2 col-xs-4 text-center">
	    <span class="output text-acqua">{SITESPLAT_CURRENTLY_ONLINE}&nbsp;<a data-toggle="collapse" data-target=".sorting" href="javascript:void(0);" title="Toggle list"><i class="fa fa-angle-double-down"></i></a></span><strong>{L_SITESPLAT_USERS_ONLINE}</strong>
	   </div>
	   <div class="col-md-2 col-sm-2 col-xs-4 text-center">
	    <span class="output text-seppia">{SITESPLAT_RECORD_ONLINE}</span><strong>{L_SITESPLAT_MOST_USERS_ONLINE}</strong>
	   </div>
	   <div class="col-md-2 col-sm-2 col-xs-4 text-center">
	    <span class="output text-melograno">{SITESPLAT_TOTAL_POSTS}</span><strong>{L_SITESPLAT_TOTAL_POSTS}</strong>
	   </div>
	   
	 <div class="visible-xs space10"></div>
	  <div class="visible-xs space10"></div>
	  
	   <div class="col-md-2 col-sm-2 col-xs-4 text-center">
	    <span class="output text-drank">{SITESPLAT_TOTAL_TOPICS}</span><strong>{L_SITESPLAT_TOTAL_TOPICS}</strong>
	   </div>
	   <div class="col-md-2 col-sm-2 col-xs-4 text-center">
	    <span class="output text-orange">{SITESPLAT_TOTAL_USERS}</span><strong>{L_SITESPLAT_TOTAL_USERS}</strong>
	   </div>
	   <div class="col-md-2 col-sm-2 col-xs-4 text-center">
	    <span class="output text-red">{SITESPLAT_NEWEST_USER}</span><strong>{L_SITESPLAT_NEWEST_MEMBER}</strong>
	   </div> 
	</div>
 </div>
 <!-- IF S_DISPLAY_ONLINE_LIST -->
	<div class="panel-footer sorting collapse">
	 <div class="row">
	   <div class="col-md-12">
	    <!-- EVENT index_body_block_stats_prepend -->
		<span class="stats-heading">{TOTAL_USERS_ONLINE}&nbsp;&#40;{L_ONLINE_EXPLAIN}&#41;&nbsp;<!-- IF U_VIEWONLINE --><a href="{U_VIEWONLINE}" title="{L_WHO_IS_ONLINE}"><i class="fa fa-question-circle"></i></a><!-- ENDIF --></span>
		<!-- IF LEGEND -->
<!-- 		  <div class="space10"></div>
		 <strong>{L_LEGEND}{L_COLON}&nbsp;{LEGEND}</strong> -->
			 <div class="row">
				<div class="panel-body text-uppercase">
				 	<p>Légende :</p>
					<div class="col-md-3 col-sm-3 col-xs-6 text-center">
						<strong><a href="http://www.swor-jdr.com/memberlist.php?mode=group&g=9" style="color:#D8A90E;">Maîtres du Jeu</a></strong>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-6 text-center">
						<strong><a href="http://www.swor-jdr.com/memberlist.php?mode=group&g=8" style="color:#AB1824;">Nouvelle République</a></strong>
					</div>
					<div class="visible-xs space10"></div>
					<div class="col-md-3 col-sm-3 col-xs-6 text-center">
						<strong><a href="http://www.swor-jdr.com/memberlist.php?mode=group&g=10" style="color:#2C6CCB;">Vestiges de l'Empire</a></strong>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-6 text-center">
						<strong><a href="http://www.swor-jdr.com/memberlist.php?mode=group&g=12" style="color:#37B495;">Nouvel Ordre Jedi</a></strong>
					</div>
					<div class="visible-sm visible-md visible-lg space10"></div>
					<div class="visible-xs space10"></div>
					<div class="col-md-3 col-sm-3 col-xs-6 text-center">
						<strong><a href="http://www.swor-jdr.com/memberlist.php?mode=group&g=11" style="color:#83343D;">Ordre Sith</a></strong>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-6 text-center">
						<strong><a href="http://www.swor-jdr.com/memberlist.php?mode=group&g=17" style="color:#544496;">Crime Galactique</a></strong>
					</div>
					<div class="visible-xs space10"></div>
					<div class="col-md-3 col-sm-3 col-xs-6 text-center">
						<strong><a href="http://www.swor-jdr.com/memberlist.php?mode=group&g=31" style="color:#387B31;">Guilde du Maelstrom</a></strong>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-6 text-center">
						<strong><a href="http://www.swor-jdr.com/memberlist.php?mode=group&g=13" style="color:#B7BBBD">Divers & Neutres</a></strong>
					</div>
				</div>
		</div>
		<!-- ENDIF -->
		
		<!-- EVENT index_body_block_online_prepend -->
		<p>{LOGGED_IN_USER_LIST}</p>
		<!-- EVENT index_body_block_online_append -->
	 
		<!-- IF S_DISPLAY_BIRTHDAY_LIST -->
		 <!-- EVENT index_body_block_birthday_prepend -->
		  <p><!-- IF .birthdays -->{L_CONGRATULATIONS}{L_COLON}&nbsp;<strong><!-- BEGIN birthdays -->{birthdays.USERNAME}<!-- IF birthdays.AGE !== '' -->&#40;{birthdays.AGE}&#41;<!-- ENDIF --><!-- IF not birthdays.S_LAST_ROW -->&#44;&nbsp;<!-- ENDIF --><!-- END birthdays --></strong><!-- ENDIF --></p>
		 <!-- EVENT index_body_block_birthday_append -->
		<!-- ENDIF -->
	   </div>
	   <div class="col-md-6">
	    <!-- EVENT index_body_block_stats_append --> 
	   </div>
	 </div>
	</div>
 <!-- ENDIF -->
</div>
<!-- ENDIF -->
<!-- EVENT index_body_stat_blocks_after -->
<!-- INCLUDE overall_footer.html -->

